<div>
	<img src="images/hamburger.svg" alt="hamburger icon">
	<h4 class="feature">Hamburger</h4>
	<hr />
	<p>Spicy jalapeno bacon ipsum dolor amet dolore jowl tempor consequat flank ribeye. Voluptate tri-tip ex exercitation nisi rump ball tip short ribs labore ipsum.</p>
</div>
<div>
	<img src="images/diamond.svg" alt="diamond icon">
	<h4 class="feature">Diamonds</h4>
	<hr />
	<p>Id ex pariatur sausage eu boudin nulla, tempor lorem do jowl swine. Excepteur corned beef proident kevin sirloin do. In non tri-tip ham shankle bone picanhavelit.</p>
</div>
<div>
	<img src="images/puzzle.svg" alt="puzzle icon">
	<h4 class="feature">Extreme Puzzling</h4>
	<hr />
	<p>Bacon tail ribeye esse shank short ribs, rump ut elit. Beef filet mignon tongue brisket. Do short ribs magna culpa frankfurter fugiat.</p>
</div>
