<h2>List of Stations</h2>

<div class="carousel">
    <div class="carousel-control">
        <img src="images/left_arrow.png" alt="carousel left arrow">
    </div>
    <div class="carousel-track">
        {{#each @stations as |station index|}}
            <StationCard @station={{station}} @index={{index}} />
        {{/each}}
    </div>
    <div class="carousel-control">
        <img src="images/right_arrow.png" alt="carousel right arrow">
    </div>
</div>