features-section {
	display: flex;
	flex-direction: column;
	margin-top: var(--section-margin-top);
}

features-section div {
	flex: 1;
	text-align: center;
	padding: 0;
	margin-bottom: var(--section-margin-bottom);
}

features-section div:last-of-type {
	margin-bottom: 0;
}

features-section hr {
	border: 1px solid #eaeaea;
}

features-section img {
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
}

@media screen and (min-width: 480px) {
	features-section {
		flex-direction: row;
	}

	features-section div {
		padding: 0 2rem;
		margin-bottom: 0;
	}
}