station-card {
	display: block;
	border: 1px solid #eee;
	box-shadow: 2px 2px 2px #ddd;
	flex: 1;
	margin: 0 0.75rem;
	border-radius: 4px;
}

station-card hr {
	border: 1px solid #eee;
}

station-card .station-map {
	height: 200px;
	width: 100%;
}

station-card .station-info {
	padding: 0.9rem;
	display: block;
	text-align: left;
}

station-card .station-info-name {
	margin-bottom: 0.6rem;
}

station-card .station-info-name h4 {
	margin-bottom: 0.3rem;
}